<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td{
            border: 1px solid black;
        }
        th,td{
            padding: 10px;
        }
    </style>
    <title>Books</title>
</head>
<body>
    <table>
        <tr>
            <th>Book Name</th>
            <th>Author</th>
            <th>Genre</th>
        </tr>
        <% bookList.forEach((bookList)=>{ %>
        <tr>
            <td> <%= bookList.name %></td>
            <td> <%= bookList.author %></td>
            <td> <%= bookList.genre %></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>